{% extends "layout.html" %}
{% block content %}
<div class="container text-center mt-5">
    <form class="form-horizontal" action='/register' method="POST">
        <fieldset>
            <div class="mb-4">
                <legend>Register</legend>
            </div>

            {% if taken %}
                <div class="alert alert-danger" role="alert">
                    This username is already taken
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" placeholder="Username" class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
            </div>

            <div>
                <button type=submit class="btn btn-success">Register</button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
